ion-content input{
    width:100%;
}

.answer{
    text-align:center;
    margin-top:3vh;
    margin-bottom:3vh;
}

.speechButton{
    display: block;
    margin:0 auto;
    text-align:center;
    height:5vh;
}

.speechButton button{
    height:100%;
}
